# Directorios de build de Code::Blocks
/.vscode/

# Archivos específicos de Code::Blocks
*.depend
*.layout
*.workspace

# Archivos ejecutables
*.exe
*.app
*.out

# Archivos objeto y dependencias
*.o
*.obj
*.a
*.lib
*.dll
*.so

# Archivos de backup
*~
*.bak